html, body {
    color: black;   
}

body {
    margin-top:54px;
}

h1, h2, h3 {
    text-align: center;
    margin-top:3rem;
}



.answer-feedback-area {
    text-align: center;
    min-height: 12rem;
    border: solid 1px white;
    /* padding-bottom:1rem; */
   
}

#question-area {
    text-align: center;
    font-size: 3rem;
}

#exercise-type {
    font-size: 2rem;
}

.buttons, #user_answer {
    height: 4rem;
    width: 12rem;
    font-size: 1.5rem;
}

#correct-incorrect {
    font-size: 1.5rem;
    font-weight: bold;
}

#time-taken {
    font-size: 1rem;
    
}

input {
    text-align: center;
}

#user_answer {
    font-size: 2.4rem;
}

.fc {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}

@media only screen and (min-width: 600px) {
    .fc-pc > * {
        margin-left:2em;
        margin-right:2em;
        flex-basis: 300px;
    }

    .fc-pc {
        display:flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    html {
        margin-top:5rem;
    }
}

table {
    font-size:0.9rem;
    line-height: 1;

}


img {
    flex: 1;
    max-width:500px;
    margin-top:2rem;
}

/* #settings_drop_down {

} */

ul {
    list-style-type: none;
}


#targets_table  {
    text-align: center;
}

.button_small {
    width:2.5em;
    height:2em;
}

#new_targets_form {
    text-align: center;
}